<h1 class="jumbotron text-center">Welcome to Scrape</h1>
<div class="list-group">
  <h2>Some stuff you might wanna know?</h2>
  <a href="https://www.npmjs.com/package/cheerio" class="list-group-item list-group-item-action">
    What was used to scrape the site
  </a>
  <a href="http://happymugcoffee.com/6-roasted-coffee" class="list-group-item list-group-item-action">The Site! </a>
  <a href="/product" class="list-group-item list-group-item-action">What I got.</a>
  <a href="https://www.reddit.com/r/random/" class="list-group-item list-group-item-action">This is just random...</a>
  <a href="" class="list-group-item list-group-item-action">Good to know I can do this...</a>
</div>

